@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark: #2B3541;
    --yellow: #FBF138;
    --black: #010101;
    --liner: linear-gradient(180deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);
    --grey: #f3f3f3;
}


body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    max-width: 1171px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.header {
    padding-top: 50px;
    padding-bottom: 30px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.nav a:not(:last-child){
    padding-right: 54px;
}

.nav-link {
    font-size: 18px;
    line-height: 150%;
    color: var(--dark);
    text-decoration: none;
}

.email {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: var(--dark);
    text-decoration: none;
    position: relative;
}

.email::before {
    content: '';
    display: block;
    background-color: var(--yellow);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    left: -14px;

}

/* Главный блок */

.hero {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    max-height: 852px;
    margin-bottom: 160px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    flex-basis: 60%;
    align-items: center;
}

.hero-bg {
    height: clamp(493px, 50vw, 852px);
    flex-basis: calc(40% - 20px);
    background: linear-gradient(90deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.2;
    width: 464px;
}

.hero-title {
    font-weight: 700;
    font-size: clamp(26px, 4.5vw, 48px);
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
    max-width: 635px;
}

.hero-description {
    font-size: 40px;
    line-height: 125%;
    color: var(--dark);
    margin: 0;
}

.hero-description span:not(:last-child) {
    margin-right: 16px;
}

.hero-dop-text {
    padding-left: 100px;
    padding-top: 20px;
}

.hero-dop-description {
    font-size: 18px;
    line-height: 150%;
    color: var(--dark);
    max-width: 300px;
    margin: 0;
    padding-bottom: 40px;
}

.hero-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    padding: 20px 30px;
    background-color: var(--yellow);
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
}

.hero-img {
    position: relative;
}

.hero-girl {
    position: absolute;
    right: -9vw;
    bottom: 0;
    width: clamp(399px, 50vw, 996px);
}

.hero-arrow {
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0;
}

/* Расписание */

.schedule {
    margin-bottom: 162px;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.title-h2 {
    font-size: 40px;
    line-height: 125%;
    color: var(--dark);
    font-weight: 700;
}

._schedule{
    max-width: 277px;
}

.text-scheduble {
    font-size: 28px;
    line-height: 125%;
    color: var(--dark);
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 309px 73px 281px;
    grid-template-areas: "a b c" "d b f" "d e f";
    gap: 20px
}

.item {
    border: 1px solid var(--dark);
    position: relative;
}

.item:nth-child(1) {
    grid-area: a;
}

.item:nth-child(2) {
    grid-area: b;
}

.item:nth-child(3) {
    grid-area: c;
}

.item:nth-child(4) {
    grid-area: d;
}

.item:nth-child(5) {
    grid-area: e;
}
.item:nth-child(6) {
    grid-area: f;
}

.grid-text {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 18px;
    line-height: 125%;
    color: var(--black);

}

.grid-img {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 30px;
    bottom: 70px;
}

.grid-title {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-size: 18px;
    line-height: 125%;
    font-weight: 700;
    color: var(--dark);
}

._01 {
    background-image: url(../img/icon-grid/01.svg);
    width: 65px;
    height: 65px;
}

._02 {
    background-image: url(../img/icon-grid/02.svg);
    width: 42px;
    height: 85px;
}

._03 {
    background-image: url(../img/icon-grid/03.svg);
    width: 91px;
    height: 50px;
}

._04 {
    background-image: url(../img/icon-grid/04.svg);
    width: 67px;
    height: 107px;
}

._05 {
    background-image: url(../img/icon-grid/05.svg);
    width: 65px;
    height: 61px;
}

._06 {
    background-image: url(../img/icon-grid/06.svg);
    width: 58px;
    height: 66px;
}


.item:hover {
    background: var(--liner);
    border: transparent;
}

/* форма */

.authorization {
    background: var(--grey);
}

.form {
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding-bottom: 80px;
}

._form {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}

.form > div {
    flex-basis: calc(100% - 255px - 20px);
}

.form-btn {
    flex-basis: 255px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.2);
    background: var(--yellow);
    border: none;
}