@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark: #2B3541;
    --yellow: #FBF138;
    --black: #010101;
    --liner: linear-gradient(180deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);
    --grey: #f3f3f3;

    --tr: .2s;
}


body {
    font-family: "Montserrat", sans-serif;
    background: #FEFCFE;
}

.container {
    width: 100%;
    max-width: 1171px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.logo {
    display: block;
    width: 97px;
    height: 30px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.burger-menu {
    display: none;
    width: 29px;
    height: 22px;
    background-image: url(../img/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.nav a:not(:last-child){
    padding-right: 54px;
}

.nav-link {
    font-size: 18px;
    line-height: 150%;
    color: var(--dark);
    text-decoration: none;
}

.email {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: var(--dark);
    text-decoration: none;
    position: relative;
}

.email::before {
    content: '';
    display: block;
    background-color: var(--yellow);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    left: -14px;
}

/* Главный блок */

.hero {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    max-height: 852px;
    margin-bottom: 160px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text {
    flex-basis: 60%;
    align-items: center;
}

.hero-bg {
    height: clamp(493px, 29vw, 852px);
    flex-basis: calc(40% - 20px);
    background: linear-gradient(90deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.2;
    width: 400px;
}

.hero-title {
    font-weight: 700;
    font-size: clamp(26px, 4.5vw, 48px);
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
    max-width: 635px;
    margin-top: 0;
    margin-bottom: 15px;
}

.hero-description {
    font-size: 40px;
    line-height: 125%;
    color: var(--dark);
    margin: 0;
}

.hero-description span:not(:last-child) {
    margin-right: 16px;
}

.hero-dop-text {
    padding-left: 100px;
    padding-top: 20px;
}

.hero-dop-description {
    font-size: 18px;
    line-height: 150%;
    color: var(--dark);
    max-width: 300px;
    margin: 0;
    padding-bottom: 40px;
}

.hero-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    padding: 20px 30px;
    background-color: var(--yellow);
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.3);
}
.hero-img {
    position: relative;
}

.hero-girl {
    position: absolute;
    right: -4vw;
    bottom: 0;
    width: clamp(399px, 31vw, 996px)
}

.hero-arrow {
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
}

/* Расписание */

.schedule {
    margin-bottom: 162px;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.title-h2 {
    font-size: 40px;
    line-height: 125%;
    color: var(--dark);
    font-weight: 700;
    max-width: 663px;
    margin: auto;
    z-index: 1;
}

._schedule{
    max-width: 277px;
    margin-left: 0;
}

.text-scheduble {
    font-size: 28px;
    line-height: 125%;
    color: var(--dark);
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 309px 73px 281px;
    grid-template-areas: "a b c" "d b f" "d e f";
    gap: 20px
}

.item {
    border: 1px solid var(--dark);
    position: relative;
}

.item:nth-child(1) {
    grid-area: a;
}

.item:nth-child(2) {
    grid-area: b;
}

.item:nth-child(3) {
    grid-area: c;
}

.item:nth-child(4) {
    grid-area: d;
}

.item:nth-child(5) {
    grid-area: e;
}
.item:nth-child(6) {
    grid-area: f;
}

.grid-text {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 18px;
    line-height: 125%;
    color: var(--black);

}

.grid-img {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 30px;
    bottom: 70px;
}

.grid-title {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-size: 18px;
    line-height: 125%;
    font-weight: 700;
    color: var(--dark);
}

._01 {
    background-image: url(../img/icon-grid/01.svg);
    width: 65px;
    height: 65px;
}

._02 {
    background-image: url(../img/icon-grid/02.svg);
    width: 42px;
    height: 85px;
}

._03 {
    background-image: url(../img/icon-grid/03.svg);
    width: 91px;
    height: 50px;
}

._04 {
    background-image: url(../img/icon-grid/04.svg);
    width: 67px;
    height: 107px;
}

._05 {
    background-image: url(../img/icon-grid/05.svg);
    width: 65px;
    height: 61px;
}

._06 {
    background-image: url(../img/icon-grid/06.svg);
    width: 58px;
    height: 66px;
}


.item:hover {
    background: var(--liner);
    border: transparent;
}

/* форма */

.authorization {
    background: var(--grey);
    margin-bottom: 158px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form {
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding-bottom: 80px;
}

._form {
    padding-top: 80px;
    padding-bottom: 15px;
    text-align: center;
    position: relative;
}

._form::before {
    content: '';
    display: block;
    background-color: var(--yellow);
    width: 53px;
    height: 53px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 13px;
    top: 62px;
    z-index: -1;
}

.input_label {
    font-size: 11px;
    color: var(--dark);
    margin-bottom: 15px;
}

label a {
    font-size: 11px;
    color: var(--dark);}

.form-date {
    width: 100%;
}

.form > div {
    flex-basis: calc(100% - 275px - 20px);
}

.form-btn {
    height: 65px;
    flex-basis: 255px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.2);
    background: var(--yellow);
    border: none;
}

.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 35px;
   cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: #2B3541;
    border-radius: 2px;
    border: 2px solid #2B3541;
 }
 /* Стили для псевдоэлемента after с изображением, когда пункт активен */
 .checkbox:checked + label::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 1;
    left: 4px;
    top: calc(50% - 6px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/arrow_check.svg);
 }
 /* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
 .checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left:0;
    top:calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #2B3541;
 }
 /* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
 .checkbox:not(:checked) + label::after{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 0;
    left: 4px;
    top: calc(50% - 6px);
    background-position: 0 -12px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/arrow_check.svg);
 }
 .radio:checked + label::before{
    border-radius: 100%;
 }
 

.input-form {
    max-width: 300px;
    width: 100%;
    padding: 19px 19px 24px 28px;
    font-size: 18px;
    color: var(--dark);
    background: #fff;
    margin-bottom: 13px;
    border: none;
    box-sizing: border-box;
}

/* О компании */

.about {
    margin-bottom: 170px;
}

.about-block-01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 30px;
}

._title-h3-about {
    margin: 0;
}

.about-text {
    font-size: 18px;
    color: var(--dark);
    max-width: 412px;
    padding-bottom: 34px;
}

.about-link {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    font-weight: 700;
    padding: 22px 45px;
    background: var(--yellow);
    box-shadow: 0 13px 24px 0 rgba(251, 241, 56, 0.2);
    text-decoration: none;
}

.about-img {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/about-girl.png);
    width: 581px;
    height: 336px;
}

.about-block-02 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.data-text-01 {
    max-width: 229px;
}

.data-text-02 {
    max-width: 265px;
}

.data-text-03 {
    max-width: 200px;
}

.data-text-04 {
    max-width: 204px;
}

/* footer */

.footer {
    background: var(--grey);
}

.footer-block-01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 50px;
}

.footer-block-02 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-text {
    font-size: 14px;
    line-height: 150%;
    color: var(--dark);
}

.footer-link {
    font-size: 14px;
    line-height: 150%;
    color: var(--dark);
}

.footer-description {
    display: none;
    font-size: 10px;
    line-height: 150%;
    color: var(--dark);
}

/* Modal */
.modal {
    width: 100%;
    max-width: 567px;
    background-color: var(--grey);
    padding: 38px 10px;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
    transition: var(--tr);
}
.modal-close {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 34px;
    right: 10px;
}

@media(max-width: 1250px) {
    .hero-girl {
        right: 0;
    }
}

@media(max-width: 1185px) {
    .hero-title {
        font-size: clamp(26px, 3.5vw, 48px);
    }
    .hero-arrow {
        display: none;
    }
}

@media(max-width: 905px) {
    .nav-link {
        font-size: 16px;
    }
}

@media(max-width: 855px) {
    .burger-menu {
        display: block;
        flex-grow: 1;
    }
    .header-wrapper {
        padding-top: 35px;
        padding-bottom: 40px;
        gap: 38px;
    }
    .nav {
        display: none;
    }
    .hero {
        margin-bottom: 70px;
    }
    .hero-dop-description {
        font-size: 16px;
    }
    .hero-description {
        font-size: 26px;
    }
    .hero-dop-text {
        padding-left: 0;
    }
    .hero-bg {
        width: 335px;
        max-height: 400px;
    }
    .hero-girl {
        max-width: 370px;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 224px);
        grid-template-areas: "a b" "c d" "e f";}

    .schedule {
        margin-bottom: 97px;
    }

    .authorization {
        margin-bottom: 90px;
    }
    .about-block-01{
        margin-bottom: 50px;
    }
    .about-block-02 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
        .data-text-01 {
            max-width: 215px;
        }
        .data-text-02 {
            max-width: 281px;
        }
    .about {
        margin-bottom: 76px;
    }
    .about-img {
            width: 62svw;
            height: 46svh;
        background-image: url(../img/about-girl-mini.png);
    }
    
    .footer-block-02{
        display: none;
    }
    ._footer-em {
        display: none;
    }
    .footer-block-01 {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px 15px;
        gap: 30px;
        align-items: center;
    }
    .footer-description {
        display: block;
    }
    .logo._logo-modal {
        width: 78px;
        height: 24px; 
        position: absolute;
        top: 29px;
        left: 10px;
    }
    .nav._modal {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    ._modal-link{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--dark);
    }
    ._modal-link:last-child{
        border-bottom: none;
        padding-bottom: 0;
    }
    .nav-link::after {
        display: none;
    }
    .nav._modal .nav-link{
        display: block;
    }
    .nav._modal a:not(:last-child) {
        padding-right: 0;
    }
}

@media(max-width: 730px){
    .hero-girl {
        max-width: 300px;
    }
    .hero-bg {
        width: 295px;
        max-height: 330px;
    }
    .grid-img._04 {
        width: 50px;
        height: 80px;
        bottom: 50px;
    }
}

@media(max-width: 675px) {
    .hero-bg {
        width: 300px;
        max-height: 328px;
    }
    .input-form {
        padding: 20px;
        max-width: inherit;
    }
    .form {
        display: grid;
    }
    .form > div {
        margin: 0 auto;
    }
    .form-btn {
        flex-basis: 200px;
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        width: 100%;
        margin-top: 15px;
    }
    .checkbox:not(:checked) + label::before {
        width: 10px;
        height: 10px;
        top: calc(70% - 10px);
    }
    .checkbox:not(:checked) + label {
        padding-left: 20px;
    }
    ._form {
        font-size: 35px;
    }
    ._form::before {
        width: 45px;
        height: 45px;
        left: 36px;
        top: 68px;
    }
}

@media(max-width: 660px) {
    .hero-title {
        font-size: clamp(22px, 4.5vw, 48px);
    }
    .title-h2 {
        font-size: 33px;
    }
    .hero-description {
        font-size: 20px;
    }
    .hero-link {
        display: block;
        font-size: 12px;
    }
    .hero-girl {
        max-width: 300px;
    }
    .checkbox:not(:checked) + label {
        padding-left: 25px;
    }
    .hero-img {
        display: none;
    }
     .hero-text {
         flex-basis: 100%;
    }
     .hero-title {
         font-size: clamp(22px, 6.5vw, 48px);
    }
}

@media(max-width: 612px) {
    .grid-text {
        font-size: 16px;
    }
    .grid-title {
        font-size: 14px;
    }
    .about-img {
        display: none;
    }
    .about-link {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    .about-data {
        flex-basis: 100%;
    }
    .about-text {
        max-width: 100%;
    }
}

@media(max-width: 415px) {
    .grid-img {
        bottom: 60px;
    }
    .grid-title {
        font-size: 13px;
    }
    .grid-img._04 {
        width: 50px;
        height: 80px;
    }
}

@media(max-width: 400px) {
    .logo {
        width: 78px;
        height: 14px;
    }
    .email {
        font-size: 14px;
    }
    .burger-menu {
        width: 29px;
        height: 22px;
    }
    .header-wrapper {
        margin-bottom: 0;
    }
    .hero {
        margin-bottom: 76px;
    }
    .hero-description {
        font-size: 25px;
    }
    .title-h2 {
        font-size: 26px;
    }
    .text-scheduble {
        font-size: 16px;
    }
    ._schedule {
        max-width: 165px;
    }
    .schedule-header {
        margin-bottom: 20px;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 114px);
        grid-template-areas:
        "a"
        "d"
        "b"
        "e"
        "c"
        "f";
    }
    .grid-img {
        left: 12px;
        bottom: 41px;
    }
    .grid-text {
        font-size: 14px;
    }
    .grid-text {
        top: 0px;
        right: 12px;
    }
    .grid-title {
        font-size: 14px;
    }
    .grid-title {
        left: 12px;
    }
    ._01 {
        width: 39px;
        height: 39px;
    }
    ._02 {
        width: 23px;
        height: 45px;
    }
    ._03 {
        width: 46px;
        height: 25px;
    }
    .grid-img._04 {
        width: 34px;
        height: 53px;
        bottom: 41px;
    }
    ._05 {
        width: 39px;
        height: 37px;
    }
    
    ._06 {
        width: 35px;
        height: 40px;
    }
    .schedule {
        margin-bottom: 76px;
    }

    ._form {
        max-width: 200px;
        padding-bottom: 38px;
    }
    ._form::before {
        width: 31px;
        height: 31px;
        left: -14px;
        top: 67px;
    }
    .form {
        display: block;
    }
    .input_label {
        font-size: 8px;
    }  
    label a {
        font-size: 8px;
    }
    .form-date {
        margin-bottom: 35px;
    }
    .form-btn {
        width: 100%;
    }
    .authorization {
        margin-bottom: 76px;
    }
    .about-text {
        font-size: 16px;
        max-width: 311px;
    }
    .about-block-02 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .about-block-02 {
        gap: 40px;
    }
    .about {
        margin-bottom: 68px;
    }
    .logo {
        width: 78px;
        height: 24px;
    }
    .footer-description {
        max-width: 173px;
        text-align: right;
    }
    .footer-block-01 {
        align-items: center;
    }

}



